/***************************************************************************
 *  @BASENAME@
 *  @DATE@ 
 *
 *  Copyright (c) @YEAR@ @COMPANY@
 *  Authors: @NAME@ <@EMAIL@> @YEAR@
 * 
 *  VERSION CONTROL INFORMATION: $Id$
 *
****************************************************************************/
