@COPYRIGHT@
#include "@n_s@_@t_n@.h"

/********************/
/* local prototypes */
/********************/
/* interface overrided methods */
//static void _iface_namespace_my_interface_init (gpointer g_iface, gpointer data);
//static gboolean _iface_namespace_my_interface_method1 (NamespaceMyInterface *iface, guint param1);

/* destructors */
static void @n_s@_@t_n@_dispose (GObject *object);
static void @n_s@_@t_n@_finalize (GObject *object);

/* properties get/set functions*/
/*
static void @n_s@_@t_n@_set_property(GObject *object,
    guint property_id,
    const GValue *value,
    GParamSpec *pspec);
static void @n_s@_@t_n@_get_property(GObject *object,
    guint property_id,
    GValue *value,
    GParamSpec *pspec);
*/
/* enum for enumerate properties */
/*
enum {
    @N_S@_@T_N@_PROPERTY_1 = 1,
    @N_S@_@T_N@_PROPERTY_2
};
*/
/* ERROR */
/*
GQuark 
@n_s@_@t_n@_error_quark() 
{
    static GQuark quark = 0;
    if (G_UNLIKELY(quark == 0)) {
        quark = g_quark_from_static_string("@NS@@TN@Error");
    }
    return quark;
}
#define @N_S@_@T_N@_RAISE_ERROR(error, type, ...) \
{ \
    g_set_error((error), @N_S@_@T_N@_ERROR, (type), __VA_ARGS__);\
    return FALSE; \
} while (0)

#define @N_S@_@T_N@_RAISE_ERROR_IF_FAIL(error, cond, type, ...) \
{ \
    if (G_UNLIKELY(!(cond))) { \
         @N_S@_@T_N@_RAISE_ERROR((error), (type), ...);\
    } \
} while (0)

// @N_S@_@T_N@_ERROR_TYPE_1 
#define @N_S@_@T_N@_RAISE_ERROR_TYPE_1_IF_FAIL(error, cond, ...) \
    @N_S@_@T_N@_RAISE_ERROR_IF_FAILED((error), (cond), @N_S@_@T_N@_ERROR_TYPE_1, __VA_ARGS__)
#define @N_S@_@T_N@_RAISE_ERROR_TYPE_1(error, cond, ...) \
    @N_S@_@T_N@_RAISE_ERROR((error), @N_S@_@T_N@_ERROR_TYPE_1, __VA_ARGS__)

// @N_S@_@T_N@_ERROR_TYPE_2
#define @N_S@_@T_N@_RAISE_ERROR_TYPE_2_IF_FAIL(error, cond, ...) \
    @N_S@_@T_N@_RAISE_ERROR_IF_FAIL((error), (cond), @N_S@_@T_N@_ERROR_TYPE_2, __VA_ARGS__)
#define @N_S@_@T_N@_RAISE_ERROR_TYPE_2(error, ...) \
    @N_S@_@T_N@_RAISE_ERROR((error), @N_S@_@T_N@_ERROR_TYPE_2, __VA_ARGS__)

// @N_S@_@T_N@_ERROR_FAILED (General Failure)
#define @N_S@_@T_N@_RAISE_ERROR_FAILED_IF_FAIL(error, cond, ...) \
    @N_S@_@T_N@_RAISE_ERROR_IF_FAIL((error), (cond), @N_S@_@T_N@_ERROR_FAILED, __VA_ARGS__)
#define @N_S@_@T_N@_RAISE_ERROR_FAILED(error, cond, ...) \
    @N_S@_@T_N@_RAISE_ERROR((error), @N_S@_@T_N@_ERROR_FAILED, __VA_ARGS__)

// @N_S@_@T_N@_ERROR_NOT_IMPLEMENTED (Not Implemented)
#define @N_S@_@T_N@_RAISE_ERROR_NOT_IMPLEMENTED(error) \
    @N_S@_@T_N@_RAISE_ERROR((error), @N_S@_@T_N@_ERROR_NOT_IMPLEMENTED, "Not implemented: %s", __FUNC__)
*/

/*********** PRIVATE *************/
/* private field */
/*

#define @N_S@_@T_N@_GET_PRIVATE(o)  \
   (G_TYPE_INSTANCE_GET_PRIVATE ((o), @N_S@_TYPE_@T_N@, @NS@@TN@Private))

typedef struct _@NS@@TN@Private @NS@@TN@Private;
struct _@NS@@TN@Private {
    int private_field;
};
*/

/* private methods */

/* auxiliary functions */


/***********************************************/
/* GObject obligatory definitions/declarations */
/***********************************************/

/* define my Object */
/*
G_DEFINE_TYPE(
    @NS@@TN@, //my name in Camel case.
    @n_s@_@t_n@, // my name in lowercase, with words separated by '_'.
    G_TYPE_OBJECT //GType of my parent 
)
*/

/* define my Object (with interface)*/
/*
G_DEFINE_TYPE_WITH_CODE(
    @NS@@TN@, //my name in Camel case.
    @n_s@_@t_n@, // my name in lowercase, with words separated by '_'.
    G_TYPE_OBJECT, //GType of my parent 
    G_IMPLEMENT_INTERFACE(NAMESPACE_TYPE_MY_INTERFACE, //interfaces that I implement
        _iface_namespace_my_interface_init)
)
*/

/* Init: define my Object (explict) */
static void     @n_s@_@t_n@_init       (@NS@@TN@      *self);
static void     @n_s@_@t_n@_class_init (@NS@@TN@Class *klass);
static gpointer @n_s@_@t_n@_parent_class = NULL;
static void     @n_s@_@t_n@_class_intern_init (gpointer klass)
{
  @n_s@_@t_n@_parent_class = g_type_class_peek_parent (klass);
  @n_s@_@t_n@_class_init ((@NS@@TN@Class*) klass);
}

GType
@n_s@_@t_n@_get_type (void)
{
    static GType g_define_type_id = 0; 
    if (G_UNLIKELY (g_define_type_id == 0)) 
    { 
        static const GTypeInfo g_define_type_info = { 
            sizeof (@NS@@TN@Class), 
            (GBaseInitFunc) NULL, 
            (GBaseFinalizeFunc) NULL, 
            (GClassInitFunc) @n_s@_@t_n@_class_intern_init, 
            (GClassFinalizeFunc) NULL, 
            NULL,   /* class_data */ 
            sizeof (@NS@@TN@), 
            0,      /* n_preallocs */ 
            (GInstanceInitFunc) @n_s@_@t_n@_init, 
        }; 
        g_define_type_id = g_type_register_static (
            G_TYPE_OBJECT, //parent GType 
            "@NS@@TN@", //my name in Camel case
            &g_define_type_info, 
            0
        ); 
        /* interfaces that I implement */
        /*
        {
            static const GInterfaceInfo g_implement_interface_info = {
                (GInterfaceInitFunc) _iface_namespace_my_interface_init 
            };
            g_type_add_interface_static (
                g_define_type_id, 
                NAMESPACE_TYPE_MY_INTERFACE, 
                &g_implement_interface_info
            );
        } 
        */
    } 
    return g_define_type_id; 
}

/* End: define my Object (explict) */

/*************************/
/* Internal Constructors */
/************************/
/**
 * initilize/override parent class methods, create signals, properties.
 */
static void
@n_s@_@t_n@_class_init (@NS@@TN@Class *klass) 
{
    /* top ancestral */
    GObjectClass *gobject_class = G_OBJECT_CLASS (klass);

    /* private alocation */
    //g_type_class_add_private (klass, sizeof (@NS@@TN@Private));

    /* methods */
    //klass->method1 = @n_s@_@t_n@_method1;
    //klass->method2 = @n_s@_@t_n@_method2;

    /* destructors */
    gobject_class->dispose = @n_s@_@t_n@_dispose;
    gobject_class->finalize = @n_s@_@t_n@_finalize;

    /* properties */
    //GParamSpec *pspec;
    //gobject_class->set_property = @n_s@_@t_n@_set_property;
    //gobject_class->get_property = @n_s@_@t_n@_get_property;
    
    /* Property 1 (type: string) (contruct_only) (read/write)*/
    /*
    pspec = g_param_spec_string( // string property 
        "property1", //name
        "Property 1", //nick
        "Set/Get the property 1", //description
        "default", //default value
        G_PARAM_READWRITE | G_PARAM_CONSTRUCT_ONLY //flags
    );
    g_object_class_install_property(
        gobject_class, 
        @N_S@_@T_N@_PROPERTY_1,  //PROPERTY ID
        pspec 
    );
    g_param_spec_unref(pspec);
    */
    
    /* Property 2 (type: int) (read/write) (can be use in contruction)*/ 
    /*
    pspec = g_param_spec_int(
        "property2", //name
        "Property 2", //nick-name
        "Set/Get the property 2", //description
        0, //minimal value
        10, //maximal value
        0, //default value
        G_PARAM_READWRITE |G_PARAM_CONSTRUCT // flags
    );
    g_object_class_install_property(
        gobject_class, 
        @N_S@_@T_N@_PROPERTY_2,  //PROPERTY ID
        pspec 
    );
    g_param_spec_unref(pspec);
    */

    /* signals */

    /* chain-up */
}
/** 
 * Interface init: So let's override methods of NamespaceMyInterface 
 */
/*
static void 
_iface_namespace_my_interface_init (gpointer g_iface, gpointer data) 
{
    ((NamespaceMyInterfaceInterface*) g_iface)->method1 = 
        _iface_namespace_my_interface_method1; //override method1

}
*/

/**
 * GObject Internal Constructor 
 */
static void
@n_s@_@t_n@_init(@NS@@TN@ *self) 
{
    /* set the private members */
    //self->boolean_member = TRUE;
    //self->uint8_member = 42;

    //@NS@@TN@Private *priv = @N_S@_@T_N@_GET_PRIVATE(self);
}

/***************/
/* Destructors */
/***************/
static void    
@n_s@_@t_n@_dispose (GObject *object) 
{   
    //@NS@@TN@ *self =  @N_S@_@T_N@(object);
    //@NS@@TN@Private *priv = @N_S@_@T_N@_GET_PRIVATE(self);
    /* 
    if (self->dispose_has_run) {
        return;
    }
    */

    /* chaining up */
    G_OBJECT_CLASS(@n_s@_@t_n@_parent_class)->dispose(object);
}
static void    
@n_s@_@t_n@_finalize (GObject *object) 
{
    //@NS@@TN@ *self =  @N_S@_@T_N@(object);
    //@NS@@TN@Private *priv = @N_S@_@T_N@_GET_PRIVATE(self);

    /* chaining up */
    G_OBJECT_CLASS(@n_s@_@t_n@_parent_class)->finalize(object);
}

/**********************/
/* PROPERTIES GET/SET */
/**********************/
/**
 * Properties set function
 */
/*
static void 
@n_s@_@t_n@_set_property(GObject *object,
    guint property_id,
    const GValue *value,
    GParamSpec *pspec) 
{
    @NS@@TN@ *self = @N_S@_@T_N@(object);
    //@NS@@TN@Private *priv = @N_S@_@T_N@_GET_PRIVATE(self);
    switch (property_id) {
        case @N_S@_@T_N@_PROPERTY_1:
            g_free(self->property1);
            self->property1 = g_value_dup_string(value);
            break;
        case @N_S@_@T_N@_PROPERTY_2:
            self->property2 = g_value_get_int(value);
            break;
        default:
            G_OBJECT_WARN_INVALID_PROPERTY_ID(object, property_id, pspec);
            break;
    }
}
*/

/**
 * Properties get function 
 */
/*
static void 
@n_s@_@t_n@_get_property(GObject *object,
    guint property_id,
    GValue *value,
    GParamSpec *pspec) 
{
    @NS@@TN@ *self = @N_S@_@T_N@(object);
    //@NS@@TN@Private *priv = @N_S@_@T_N@_GET_PRIVATE(self);
    switch (property_id) {
        case @N_S@_@T_N@_PROPERTY_1:
            g_value_set_string(value, self->property1);
            break;
        case @N_S@_@T_N@_PROPERTY_2:
            g_value_set_int(value, self->property2);
            break;
        default:
            G_OBJECT_WARN_INVALID_PROPERTY_ID(object, property_id, pspec);
            break;
    }

}
*/



/************************/
/* Public Constructors */
/***********************/

/*
@NS@@TN@* 
@n_s@_@t_n@_new() {
    return (@NS@@TN@*) g_object_new(@N_S@_TYPE_@T_N@, NULL);
}
*/

/*
@NS@@TN@* 
@n_s@_@t_n@_new_with_arg1(guint8 param1) {
    return (@NS@@TN@*) g_object_new(@N_S@_TYPE_@T_N@, "property 1", param1, NULL);
}
*/


/**********************/
/* Overrided methods  */
/**********************/
/*
static gboolean _iface_namespace_my_interface_method1 (NamespaceMyInterface *iface, guint param1)
{
    @NS@@TN@ *self = @N_S@_@T_N@(iface);
    //
    return TRUE;
}
*/

/******************/
/* PUBLIC METHODS */
/******************/

/*******************/
/* PRIVATE METHODS */
/*******************/

/***********************/
/* AUXILIARY FUNCTIONS */
/***********************/
